# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# Entorno
.env
.venv

# IDE
.vscode/
.idea/
*.swp
*.swo

# Datos sensibles
recordings/*.wav
# refs/
outputs/
*.wav
# *.mp3
# *.flac

# Modelos y cache
.cache/
whisper/
speechbrain/